.task-container{
    background: var(--theme-background);
    .task-header{
        display: flex;
        div:first-child{
            width: 100%;
        }
        input{
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            border: none;
            background: transparent;
            font-size: 20px;

            :focus{
                background: white !important;
            }
        }
    }

    .state-name{
        display: flex;
        justify-content: space-between;
        span{
            text-decoration: underline;
        }
    }

    .show-selected-owners{
        display: flex;
        align-items: center;
        .owners-name{
            display: flex;
            flex-wrap: wrap;
        }
        mat-icon{
            font-size: 12px;
            cursor: pointer;
        }
        p{
            margin-bottom: 0;
        }
    }

    .add-owner-btn{
        margin-left: auto;
        margin-right: 10px;
        mat-icon{
            font-size: 24px;
        }
    }

    .attachments{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .all-users{
        h3{
            margin-bottom: 0;
        }
        max-height: 25px;
    }

    h3{
        color: var(--primary-text);
    }

    p{
        color: var(--secondary-text);
    }

    

    .description{
        textarea{
            width: 100%;
            border: none;
            background: #eaecf0;
            padding-left: 16px;
            padding-top: 16px;
            border-radius: 5px;
        }
        textarea:focus{
            background: white;
        }
        
    }

    .action-btn{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}

::ng-deep .userselect div.mat-select-arrow-wrapper {
    display: none;
  }
  
  ::ng-deep .userselect.mat-select {
    display: inline;
  }

  ::ng-deep .stateselect div.mat-select-arrow-wrapper {
    display: none;
  }
  
  ::ng-deep .stateselect.mat-select {
    // width: 0;
    // display: inline-block !important;
    // height: 0;
    // position: absolute;
    display: inline;
  }

  


@mixin myPanel(){
    .my-panel .mat-dialog-container {
        background: var(--theme-background) !important;
    }
   }
