<div class="task-container">
    <div class="task-header">
        <div>
            <input [(ngModel)]="manageTask.task_name" placeholder="enter task name" required #name="ngModel" [ngClass] = "{'error-input':((!name.valid && name.dirty))}" >
            <small *ngIf="((!name.valid && name.dirty))" class="error-message"> Add course name </small> 
            <p class="state-name"> in list {{stateListInfo?.state_name}} <span (click)="selectState.open()" *ngIf="mode === 'EDIT'" > change state </span> </p>
            <mat-select class="stateselect" [value]="stateListInfo.state_id" #selectState (selectionChange) = "assignNewState($event)" hidden> 
                <mat-option *ngFor="let state of availableStatesForTransition" [value] = "state.state_id"> {{state.state_name}} </mat-option>
            </mat-select>
            
        </div>
    </div>

    <div *ngIf="allUsers?.length" class="all-users" >
        <h3> Members </h3>
        <mat-select multiple class="userselect" [(ngModel)]="manageTask.owners_ids" #select> 
            <mat-option *ngFor="let user of allUsers" [value] = "user.user_id"> {{user.user_name}} </mat-option>
        </mat-select>
    </div>

    <div *ngIf="manageTask.owners_ids?.length" class="show-selected-owners">
        <div *ngFor = "let selectedOwnerId of manageTask.owners_ids">
            <p> {{showOwner(selectedOwnerId)}} <span> <mat-icon (click)="removeOwner(selectedOwnerId)" *ngIf="manageTask.owners_ids.length > 1" >close</mat-icon> </span> </p>
        </div>
        <button mat-mini-fab class="add-owner-btn"> <mat-icon (click)="selectOwnersFortask(select)">add</mat-icon>  </button>
    </div>


    <div class="description">
        <h3> Description </h3>
        <textarea [(ngModel)]="manageTask.description" rows="4" placeholder="describe your task" style="width:100%"></textarea>
    </div>

    <div>
        <h3 (click)="uploadImage()" class="attachments"> Attachments 
            <span> 
                <button mat-mini-fab class="add-owner-btn" (click)="uploadImage()"> <mat-icon>add</mat-icon>  </button>
             </span> </h3>
        <input type="file" name="file" (change) = "addAttachments($event)" style="display: none;" #attachmentUpload > 
    </div>

    <div *ngIf="manageTask.attachments" >
        <div *ngFor="let attachment of manageTask.attachments" >
            <div> <a [href] = "manageTask.separateUrlFromType(attachment).url"> <mat-icon *ngIf="manageTask.separateUrlFromType(attachment).type == 'pdf'" >picture_as_pdf</mat-icon> {{manageTask.separateUrlFromType(attachment).name}}</a> </div>
        </div>
    </div>

    <div class="action-btn">
        <button mat-raised-button color="primary" (click)="createTask()" *ngIf="mode === 'CREATE'" > Create Task </button>
        <button mat-raised-button color="primary" (click) = "editTask()" *ngIf = "mode === 'EDIT'"> Edit Task </button>
    </div>

    



    
</div>