<mat-card (click)="editTask()" [ngClass] = "{'started-status':startState(), 'done-status': stateInfo.order === manageBoardService.stateMaxOrderCount, 'in-progress-status':checkInprogressState()}">
    <p> <mat-icon>description</mat-icon> {{task?.task_name}}</p>
    <p *ngIf="task?.owners_ids?.length" class="show-user"> 
        <mat-icon>supervisor_account</mat-icon> 
        <span *ngFor="let userId of task.owners_ids" [ngStyle] = "{'background': showUserColorRepByUserId(userId)}">
            {{showUserByUserId(userId)}}
        </span>
    </p>

    <p> <mat-icon>insert_invitation</mat-icon> {{prettyPrintDateTime(task?.created_at)}} </p>

    <div class="action-footer">
        <p *ngIf="task.attachments.length" > <mat-icon>attachment</mat-icon> {{task.attachments.length}} </p>
        <p (click)="deleteTask()" class="delete-task" *ngIf="manageBoardService.stateMinOrderCount === stateInfo.order" > <mat-icon>delete</mat-icon></p>
    </div>

    
</mat-card>