.list-state-container{
    input{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid gray;
        width: 100%;    
    }
    .add-state-btn-container{
        display: flex;
        margin-top: 10px;
        justify-content: flex-end;
    }
}