/* You can add global styles to this file, and also import other style files */
@import './app/create-task/create-task.component.scss';
@include myPanel();
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --theme-background:#f4f5f7;
    --task-backgound:#ffffff;
    --button-primary:#4a99e9;
    --header-background:#3b72a8;
    --primary-text: #172b4d;
    --secondary-text:#616e86
}

.common-padding{
    padding-left: 3rem;
}

@media screen and (max-width:564px){
    .common-padding{
        padding-left: 15px;
    }
    
}

.clarity-fix{
    width: 100%;
}
