/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --theme-background:#f7fbfc;
    --task-backgound:#ffffff;
    --button-primary:#4a99e9;
    --header-background:#3b72a8;
}

.common-padding{
    padding-left: 3rem;
}
